:root{
    --bg-color-1: #e0f8d0;
    --bg-color-2: #88c070;
    --bg-color-3: #346856;
    --bg-color-4: #081820;
}
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  form{
    border-radius:3px;
    padding:10px 15px;
  }
  input{
    width:100%;
    margin-bottom:15px;
    padding:7px 10px;
    border-radius:2px;
    border:none;
    background: var(--bg-color-2);
    text-align:center;
    color:var(--bg-color-4);
  }
  label{
    width:100%;
    display:block;
    margin-block: 5px;
    color:var(--bg-color-1);
  }
  button{
    width:100%;
    margin:15px 0;
    border:none;
    background: var(--bg-color-3);
    color:var(--bg-color-1);
    border-radius:2px;
    padding:7px 10px;
    font-size:1em;
    cursor:pointer;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  input[type=number]{
    padding:7px 10px 7px 20px;
  }
  input[disabled]{
    color:var(--bg-color-1);
    background: var(--bg-color-4);
  }
  .container{
    height:100vh;
    padding:0;
  }
  .padded{
    padding:10px;
  }
  #menu{
    flex-basis:250px;
    max-width:30%;
    background: var(--bg-color-4);
  }
  #view{
    flex-basis:70%;
    display:flex;
    align-items:stretch;
    justify-content:center;
    background: var(--bg-color-1);
  }
  